@page "/game/active/{gameId}"

@attribute [Authorize]
@inject GameHubClient GameHubClient

<h3>Гра: @gameId</h3>

@if (gameSession is not null)
{
	<p>Білими: @gameSession.PlayerWhite</p>
	<p>Чорними: @gameSession.PlayerBlack</p>
	<p>Поточний стан: @gameSession.CurrentFen</p>

	<p>@gameSession.Result</p>

	<h4>Ручне створення ходу:</h4>
	@foreach (var move in testMoves)
	{
		<button @onclick="() => MakeMove(move.From, move.To, move.Player)">
			@($"{move.From} → {move.To}")
		</button>
	}

	<h4>Результат:</h4>
	@foreach (var r in results)
	{
		<button @onclick="() => FinishGame(r)">@($"{r}")</button>
	}

	@foreach (var move in gameSession.Moves)
	{
		<p>@move.SanNotation</p>
	}
}
else
{
	<p>Завантаження гри...</p>
}

@code {
	[Parameter] public string? gameId { get; set; }
	private GameSession? gameSession;

	protected override async Task OnInitializedAsync()
	{
		if (gameId is not null)
		{
			GameHubClient.OnGameStateReceived += OnGameStateReceived;
			GameHubClient.OnMoveReceived += OnMoveReceived;

			await GameHubClient.Connect();
		}
	}
	private void OnGameStateReceived(GameSession state)
	{
		gameSession = state;
		StateHasChanged();
	}
	private void OnMoveReceived(MoveDto move)
	{
		// Оновити UI або стан гри після отримання ходу
		// Можна додати логіку для оновлення відповідного ходу в gameSession
		StateHasChanged();
	}
	private List<MoveDto> testMoves = new()
{
new MoveDto { From = "e2", To = "e4", Player = "white" },
new MoveDto { From = "e7", To = "e5", Player = "black" },
new MoveDto { From = "g1", To = "f3", Player = "white" },
};

	private List<string> results = new()
{
"1 0",
"0 1",
"0.5 0.5"
};

	private async Task MakeMove(string from, string to, string player)
	{
		if (gameId is not null)
		{
			var move = new MoveDto { From = from, To = to, Player = player }; // Замінити логікою
			await GameHubClient.MakeMove(gameId, move);
		}
	}

	private async Task FinishGame(string result)
	{
		if (gameId is not null)
		{
			await GameHubClient.FinishGame(gameId, result);
		}
	}

	public void Dispose()
	{
		GameHubClient.OnGameStateReceived -= OnGameStateReceived;
		GameHubClient.OnMoveReceived -= OnMoveReceived;
	}
}
